/*
	Define and specify values for the following variables to override the default styling.

	--u-grid-heading-font-size
	--u-grid-heading-icon-font-size
	--u-grid-heading-icon-font-color
	--u-grid-heading-gap
	--u-grid-heading-margin
	--u-grid-spacing
*/

.u-grid
{
	$defaultSpacing: 16px;
	$headingFontSize: 24px;
	$headingIconFontSize: 20px;
	$headingIconFontColor: #000;
	$headingGap: 5px;
	$headingMargin: 0 0 7px 0;

	margin-top: var(--u-grid-spacing, $defaultSpacing);

	&__filters
	{
		&-heading
		{
			$self: &;
			font-size: var(--u-grid-heading-font-size, $headingFontSize);

			&-collapse-button
			{
				text-decoration: none;
				display: inline-flex;
				gap: var(--u-grid-heading-gap, $headingGap);
				margin: var(--u-grid-heading-margin, $headingMargin);
				align-items: center;

				i
				{
					font-size: var(--u-grid-heading-icon-font-size, $headingIconFontSize);
					color: var(--u-grid-heading-icon-font-color, $headingIconFontColor);
					transition: transform linear .2s;
				}

				&[aria-expanded=true] i
				{
					transform: rotate(-180deg);
				}

				#{$self}
				{
					margin: 0;
				}
			}
		}
	}

	&__bulk-actions
	{
		margin-top: var(--u-grid-spacing, $defaultSpacing);
	}

	&__results
	{
		margin-top: var(--u-grid-spacing, $defaultSpacing);

		&-container
		{
			width: 100%;
			overflow-x: auto;
		}

		thead
		{
			th
			{
				white-space: nowrap;

				a
				{
					display: flex;
					align-items: center;
					white-space: nowrap;
					text-decoration: none;

					&:hover,
					&:active
					{
						text-decoration: none;
					}

					.fas
					{
						margin-left: var(--u-grid-spacing, $defaultSpacing);
					}
				}
			}
		}
	}

	&__item
	{
		th, td
		{
			vertical-align: middle;
		}
	}

	&__actions
	{
		text-align: right;
		white-space: nowrap;
	}

	&__column
	{
		&--auto
		{
			width: auto;
		}

		@for $i from 0 through 100
		{
			&--#{$i}
			{
				width: unquote(#{$i}) + unquote("%");
			}
		}
	}

	&__caption
	{
	}

	.u-state-view
	{
		margin-top: var(--u-grid-spacing, $defaultSpacing);
	}
}
