/*
	Define and specify values for the following variables to override the default styling.

	--u-validation-summary-color
	--u-validation-summary-font-size
	--u-validation-summary-font-weight
*/
.u-validation-summary
{
	color: var(--u-validation-summary-color, red);
	font-size: var(--u-validation-summary-font-size, inherit);
	font-weight: var(--u-validation-summary-font-weight, normal);

	&__heading
	{
	}

	&__validation-errors
	{
	}

	&__validation-message
	{
	}
}
