@if (ValidationResults?.Count > 0)
{
    <div class="u-validation-summary">
        @if (!string.IsNullOrEmpty(Heading))
        {
            <span class="u-validation-summary__heading">@Heading</span>
        }
        <ul class="u-validation-summary__validation-errors">
            @foreach (var error in ValidationResults)
            {
                <li class="u-validation-summary__validation-message">@error.ErrorMessage</li>
            }
        </ul>
    </div>
}