################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
artifacts
node_modules
/output
*.user
/TestResults
bin
obj