################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.user
bin
obj
BenchmarkDotNet.Artifacts
/DynamicImage/test/Umbrella.DynamicImage.Impl.Test/Output
*.coverage
CodeCoverage
TestResults
coverage.json
/FileSystem/test/Umbrella.FileSystem.Test/images
node_modules
**/wwwroot/dist/**