################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.user
/TestResults
bin
obj
/Samples/Umbrella.AspNetCore.Samples/wwwroot/lib
project.lock.json
Logs
BenchmarkDotNet.Artifacts
/Test/Umbrella.DynamicImage.SoundInTheory.Test/Output
/Test/Umbrella.DynamicImage.Impl.Test/Output
/coverage
/git-mv-with-history.sh
/DynamicImage/test/Umbrella.DynamicImage.Impl.Test/Output
*.coverage
/packages
