<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="ServerRollingFileAppender" type="log4net.Appender.RollingFileAppender" >
    <file value="..\Logs\Server.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd" />
    <filter type="log4net.Filter.LevelRangeFilter">
      <acceptOnMatch value="true" />
      <levelMin value="DEBUG" />
      <levelMax value="ERROR" />
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d [%t] %-5p %l - %m%n" />
    </layout>
  </appender>
  <appender name="ClientRollingFileAppender" type="log4net.Appender.RollingFileAppender" >
    <file value="..\Logs\Client.log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd" />
    <filter type="log4net.Filter.LevelRangeFilter">
      <acceptOnMatch value="true" />
      <levelMin value="DEBUG" />
      <levelMax value="ERROR" />
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d [%t] %-5p %l - %m%n" />
    </layout>
  </appender>
  <root>
    <level value="DEBUG" />
    <appender-ref ref="ServerRollingFileAppender" />
  </root>
  <logger name="Umbrella">
    <level value="DEBUG" />
  </logger>
  <logger name="WebClientLogger" additivity="false">
    <level value="WARN" />
    <appender-ref ref="ClientRollingFileAppender" />
  </logger>
</log4net>