.image-gallery-items
{
    padding:10px 10px 10px 0;
}

    .image-gallery-items ul
    {
        list-style:none;
        padding:0;
        margin:0;
    }

    .image-gallery-items li
    {
        float:left;
        margin-left:10px;
        margin-bottom:10px;
        position:relative;
    }

        .image-gallery-items li > img
        {
            cursor:move;
        }

.image-gallery-items li a
{
    position:absolute;
    outline:0;
    opacity:0.5;
}

        .image-gallery-items li a:hover
        {
            opacity:1;
        }

    .image-gallery-items li .edit-item
    {
        top:0;
        right:23px;
    }

    .image-gallery-items li .delete-item
    {
        top:0;
        right:3px;
    }

.image-gallery-edit-image
{
    padding:10px;
    text-align:center;
}

    .image-gallery-edit-image img
    {
        margin:0 auto 10px auto;
        display:block;
        max-width:600px;
    }

    .image-gallery-edit-image .field input
    {
        width:580px;
    }

.image-gallery-add
{
    padding:15px 0 10px 15px;
}

    .image-gallery-add label
    {
        float:left;
    }

    .image-gallery-add input[type=button]
    {
        margin-bottom:0;
    }