@inherits SuccessMessageBase

@if (!string.IsNullOrWhiteSpace(Message) || ChildContent != null)
{
	<div class="alert alert-success" role="alert">
		@if(ChildContent != null)
		{
			@ChildContent
		}
		else
		{
			@Message
		}
	</div>
}