@inherits MessageComponentBase

@if (!string.IsNullOrWhiteSpace(Message) || ChildContent != null)
{
	<div class="alert alert-warning" role="alert">
		@if (ChildContent != null)
		{
			@ChildContent
		}
		else
		{
			@Message
		}
	</div>
}