<div class="u-responsive-image @CssClass">
	@if (!string.IsNullOrWhiteSpace(SrcSetValue))
	{
		<img src="@Url" srcset="@SrcSetValue" @attributes="AdditionalAttributes" />
	}
	else
	{
		<img src="@Url" @attributes="AdditionalAttributes" />
	}
</div>