@typeparam TOption

<div class="u-checkbox-group @CssClass">
    <ul class="u-checkbox-group__items">
        @foreach(var option in OptionsToRender)
        {
            <li class="u-checkbox-group__item" @key="option">
                <UmbrellaCheckbox Value="option.Option.IsSelected" ValueExpression="() => option.Option.IsSelected" ValueChanged="async () => await OnOptionSelectionChangedAsync(option)" Text="@option.Text" Disabled="@Disabled" />
            </li>
        }
    </ul>
</div>