
@{
    ViewData["Title"] = "Dynamic Image";
}

<div class="row">
    <div class="col-lg-12">
        <h1>Dynamic Image</h1>

        <h2>Standard Image Tag - 1x Resolution</h2>
        <img src="~/images/logo.png" />

        <h2>Dynamic Image Tag - Up to 2x Resolution</h2>
        <dynamic-image src="~/images/logo.png" height-request="100" width-request="100" resize-mode="Fill" pixel-densities="2" />

        <h2>Dynamic Image Tag - With w srcset values and sizes attribute</h2>
        <dynamic-image src="~/images/logo.png" height-request="100" width-request="100" resize-mode="Fill" pixel-densities="2" size-widths="100" sizes="(min-width: 769px) 100px, (min-width: 481px) calc(50vw - 30px),calc(100vw - 30px)" />

        <h2>Dynamic Image Tag - Picture element with sources and fallback img</h2>
        <picture>
            <dynamic-source src="~/images/logo.png" height-request="500" width-request="500" resize-mode="Fill" pixel-densities="2" media="(max-width:500px)" />
            <dynamic-image alt="22" src="~/images/logo.png" height-request="100" width-request="100" resize-mode="Fill" pixel-densities="2" />
        </picture>
    </div>
</div>