<div class="u-error-state-view">
    @if (ChildContent is not null)
    {
        @ChildContent
    }
    else
    {
        <p>@Message</p>
    }

	@if (OnReloadButtonClick.HasDelegate && ShowReloadButton)
	{
		<button class="btn btn-primary" @onclick="async () => await OnReloadButtonClick.InvokeAsync(null)">@ReloadButtonText</button>
	}
</div>