<div class="u-state-view u-state-view--error">
	<p>@Message</p>
	@if (OnReloadButtonClick.HasDelegate)
	{
		<button class="btn btn-primary" @onclick="async () => await OnReloadButtonClick.InvokeAsync(null)">Reload</button>
	}
</div>