@inherits Umbrella.AspNetCore.Blazor.Components.ResponsiveImage.UmbrellaResponsiveImage

<div class="u-dynamic-image @CssClass">
    <img src="@SrcValue" srcset="@SrcSetValue" loading="@(LazyLoadingEnabled ? "lazy" : null)" @attributes="AdditionalAttributes" />
</div>