
@{
    ViewData["Title"] = "Responsive Image";
}

<div class="row">
    <div class="col-lg-12">
        <h1>Responsive Image</h1>

        <h2>Standard Image Tag - 1x Resolution</h2>
        <img src="~/images/logo.png" />

        <h2>Responsive Image Tag - Up to 2x Resolution</h2>
        <img src="~/images/logo.png" pixel-densities="2" />
    </div>
</div>