@typeparam TItem

@if (!ScanMode && DisplayMode == UmbrellaColumnDisplayMode.Full)
{
    @if (IsFirstColumn)
    {
        @if (UmbrellaGridInstance.RenderMode is UmbrellaGridRenderMode.Table)
        {
            <th scope="row" @attributes="AdditionalAttributes">
                @if (ChildContent is not null)
                {
                    @ChildContent
                }
                else if (PropertyStringValue is not null)
                {
                    @PropertyStringValue
                }
            </th>
        }
        else if (UmbrellaGridInstance.RenderMode is UmbrellaGridRenderMode.CollectionView)
        {
            <div @attributes="AdditionalAttributes">
                @if (ChildContent is not null)
                {
                    @ChildContent
                }
                else if (PropertyStringValue is not null)
                {
                    @PropertyStringValue
                }
            </div>
        }
    }
    else
    {
        @if (UmbrellaGridInstance.RenderMode is UmbrellaGridRenderMode.Table)
        {
            @if (IsActions)
            {
                <td class="u-grid__actions-container" @attributes="AdditionalAttributes">
                    <div class="u-grid__actions">
                        @ChildContent
                    </div>
                </td>
            }
            else
            {
                <td @attributes="AdditionalAttributes">
                    @if (ChildContent is not null)
                    {
                        @ChildContent
                    }
                    else if (PropertyStringValue is not null)
                    {
                        @PropertyStringValue
                    }
                </td>
            }
        }
        else if (UmbrellaGridInstance.RenderMode is UmbrellaGridRenderMode.CollectionView)
        {
            <div @attributes="AdditionalAttributes">
                @if (ChildContent is not null)
                {
                    @ChildContent
                }
                else if (PropertyStringValue is not null)
                {
                    @PropertyStringValue
                }
            </div>
        }
    }
}