@typeparam TItem

@if (!ScanMode && DisplayMode == UmbrellaColumnDisplayMode.Full)
{
	@if (IsFirstColumn)
	{
		@if (UmbrellaGridInstance.RenderMode is UmbrellaGridRenderMode.Table)
		{
			<th scope="row" @attributes="AdditionalAttributes">
				@ChildContent
			</th>
		}
        else if (UmbrellaGridInstance.RenderMode is UmbrellaGridRenderMode.CollectionView)
		{
			<div @attributes="AdditionalAttributes">
				@ChildContent
			</div>
		}
	}
	else
	{
		@if (UmbrellaGridInstance.RenderMode is UmbrellaGridRenderMode.Table)
		{
			<td class="@(IsActions ? "u-grid__actions" : "")" @attributes="AdditionalAttributes">
				@ChildContent
			</td>
		}
		else if (UmbrellaGridInstance.RenderMode is UmbrellaGridRenderMode.CollectionView)
		{
			<div @attributes="AdditionalAttributes">
				@ChildContent
			</div>
		}
	}
}