<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="ServerAzureTableStorageAppender" type="Umbrella.Extensions.Logging.Log4Net.Azure.AzureTableStorageAppender, Umbrella.Extensions.Logging.Log4Net.Azure">
    <filter type="log4net.Filter.LevelRangeFilter">
      <acceptOnMatch value="true" />
      <levelMin value="DEBUG" />
      <levelMax value="ERROR" />
    </filter>
    <bufferSize value="50" />
  </appender>
  <appender name="ClientAzureTableStorageAppender" type="Umbrella.Extensions.Logging.Log4Net.Azure.AzureTableStorageAppender, Umbrella.Extensions.Logging.Log4Net.Azure">
    <filter type="log4net.Filter.LevelRangeFilter">
      <acceptOnMatch value="true" />
      <levelMin value="DEBUG" />
      <levelMax value="ERROR" />
    </filter>
    <bufferSize value="50" />
  </appender>
  <root>
    <level value="WARN" />
    <appender-ref ref="ServerAzureTableStorageAppender" />
  </root>
  <logger name="Marshalls" additivity="false">
    <level value="INFO" />
    <appender-ref ref="ServerAzureTableStorageAppender" />
  </logger>
  <logger name="Umbrella" additivity="false">
    <level value="INFO" />
    <appender-ref ref="ServerAzureTableStorageAppender" />
  </logger>
  <logger name="WebClientLogger" additivity="false">
    <level value="WARN" />
    <appender-ref ref="ClientAzureTableStorageAppender" />
  </logger>
</log4net>